 
 /*
    
    数字卡片的CSS样式

 */

    .card-header1 {
      color: #FFFFFF;
      border-radius: 3px;
      position: relative;
      top: -20px;
      display: inline-block;
      float: left;
      text-align: center;
    }

    .yellow{
        color: #FFFFFF;
        border-radius: 3px;
        position: relative;
        top: -20px;
        display: inline-block;
        float: left;
        text-align: center;
        background: linear-gradient(60deg, #ffa726, #fb8c00);
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    }
  
     .pink {
        color: #FFFFFF;
        border-radius: 3px;
        position: relative;
        top: -20px;
        display: inline-block;
        float: left;
        text-align: center;
        background: linear-gradient(60deg, #ec407a, #d81b60);
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
      }
  
      .blue {
        color: #FFFFFF;
        border-radius: 3px;
        position: relative;
        top: -20px;
        display: inline-block;
        float: left;
        text-align: center;
        background: linear-gradient(60deg, #26c6da, #00acc1);
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
      }
  
      .green {
        color: #FFFFFF;
        border-radius: 3px;
        position: relative;
        top: -20px;
        display: inline-block;
        float: left;
        text-align: center;
        background: linear-gradient(60deg, #66bb6a, #43a047);
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
      }
  
      .card-header1 h4 {
        color: #FFFFFF;
        padding: 20px 30px;
        font-size: 40px;
      }
    
  
    .card-content1 {
      text-align: right;
    }
  
    .card-content1 .category {
        color: #999;
      }
  
      .card-content1 h3 {
        line-height: 0.5;
        font-size: 1.825em;
        font-weight: 300;
      }
    
  
    .card-footer1 {
      margin: 10px 0;
      padding-top: 5px;
      color: #999;
      font-size: 12px;
      position: relative;
      
      width: 100%;
      float: left;
    }


  /*

     图片卡片的CSS样式

  */

 

  .card-header2 {

    position: relative;
    overflow: hidden;
    margin-top: -40px;
    border-radius: 6px;
    z-index: 3;
  }

   
  .card-header2 img{
    position: relative;
    max-width: 100%;
    border-radius: 6px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }

  .card-content2 {
    text-align: center;
    padding: 10px 10px 13px 10px;
    margin-top: 7px;
  }

  .card-content2 h4 {
      line-height: 0.5;
      font-size: 1.3em;
      font-weight: 300;
    }

   .card-content2 {
      margin-top: 5px;
      color: #999;
      font-weight: 100;
      padding-bottom: 15px;
      border-bottom: 1px solid #eee;
    }
  

  .card-footer2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 10px 0;
  }

  .card-footer2 h4 {
      font-size: 1.3em;
      font-weight: 300;
    }

   .card-footer2 position {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      color: #999;
      font-weight: 100;
    }
  
.iconWarp{
  font-size: 54px;
  float: left;
}

.card-content3{
  width: 100%;
  padding-left: 78px;
  text-align: right;
}

.card-content3 title{
  line-height: 16px;
  font-size: 16px;
  margin-bottom: 8px;
  height: 16px;
  font-weight: 900;
  color: #333333;
}

.card-content3 number{
  line-height: 32px;
  font-size: 24px;
  height: 32px;
}
  